.workForm {
    display: flex;
    flex-direction: column;
}

.formDiv {
    display: flex;
    flex-direction: column;
    border: solid black;
}

#descInput {
    height: 100px;
    resize: none;
    overflow: auto;
}