* {box-sizing:border-box;}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    font-family: 'Roboto', sans-serif;
    

}

.mainSection {
    display: flex;
    justify-content: space-around;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: solid black;
    padding: 5%;
    gap: 50px;
}

.displays {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: solid black;
    padding: 5%;
    gap: 50px;

}

button {
    background-color: black;
    color: white;
    width: 100%;
    font-weight: 500;
    border-radius: 5px;
}